.chat-right
 .chat-right__group
  .chat-right__group__box
   - current_user.groups.each do |group|
    .chat-right__group__box__name
     = group.name
    .chat-right__group__box__member
     Memgers
     - @group.users.each do |user|
      = user.name
  .chat-right__group--edit
   = link_to "Edit", edit_group_path(@group), class: 'chat-right__group--edit__inside btn'
 .chat-right__comment
  = render @messages
 .chat-right__comment__form
  = form_for [@group, @message] do |f|
   = f.text_field :content, class: 'chat-right__comment__form__message', placeholder: 'type a message'
   .chat-right__comment__form__message__img
    = f.label :image, class: 'chat-right__comment__form__message__img__pic' do
     = fa_icon "picture-o" 
     = f.file_field :image, class: 'hidden'
   = f.submit 'Send', class: 'chat-right__comment__form--send'